/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("rectangle1.png");
  background-size: cover;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  color: #ffffff;
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 100px;
  margin-left: 25%;
  margin-top: 15%;
}
.hero-1 {
  position: center fixed;
  margin-top: -10%;
  margin-bottom: -10%;
  margin-left: -10%;
  margin-right: -10%;
}
